// Start benefiting from the wellness experience. For companies looking on increasing productivity, and improving organization wellness.
 color: #737373;
 font-size: 16px;
 font-family: Brown;
 font-weight: 400;
 line-height: 25px;
 word-wrap: break-word;
---
// For Individuals{
color: #000B0A;
 font-size: 40px;
 font-family: Brown;
 font-weight: 700;
 line-height: 50px;
 word-wrap: break-word}
---
// Password
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Last Name
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Gender
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Select here
color: #737373;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 300;
 line-height: 20px;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Weight (KG)
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Enter Weight
color: #737373;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 300;
 line-height: 20px;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Activity Level
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Select here
color: #737373;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 300;
 line-height: 20px;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Date of Birth
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Select here
color: #737373;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 300;
 line-height: 20px;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Height (CM)
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Enter height here.. 
color: #737373;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 300;
 line-height: 20px;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Tolu
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 400;
 line-height: 20px;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// First Name
color: #011C34;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// Register
color: white;
 font-size: 16px;
 font-family: Sofia Pro;
 font-weight: 600;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// By clicking Register, you agree to our 
color: black;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 400;
 line-height: 25px;
 word-wrap: break-word
---
// Terms of Use
color: #2EC4B6;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 500;
 text-decoration: underline;
 line-height: 25px;
 word-wrap: break-word
---
//  and our 
color: black;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 400;
 line-height: 25px;
 word-wrap: break-word
---
// Privacy Policy
color: #2EC4B6;
 font-size: 14px;
 font-family: Sofia Pro;
 font-weight: 500;
 text-decoration: underline;
 line-height: 25px;
 word-wrap: break-word